.burger {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: 1;
	animation: .8s myanimation .8s ;
	@keyframes myanimation {
				from{transform: translateX(200%);							
				}
				to{
					transform: translateX(0%);				
				}	
			}
	ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		animation: 1.3s fadein .8s forwards;
		opacity: 0;
		background-color: rgb(11, 11, 46);
		@keyframes fadein {
			100% {
				opacity: 1;
			}
		}
		li {
			width: auto;
			height: 8vh;
			padding: 20px;

			a {
				text-decoration: none;
				color: $primaryFontColor;
				line-height: 65px;
				font-size: 2rem;
				font-family: 'Roboto Mono', monospace;
			}
			.resume {
				border: 1px solid $border;
				padding: 10px 15px;
				border-radius: 4px;
			}
		}
	}
}

.hamburger-close {
	display: none;
}
